{% extends 'base.html' %}
{% load static %}
{% load blogtags %}

{% block body %}

    <!-- Breadcrumb -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content" data-aos="fade-up">
                <p>خانه - بلاگ</p>
                <h1 class="section-heading"><img src="{% static 'images/star-2.png' %}" alt="Star"> بلاگ <img
                        src="{% static 'images/star-2.png' %}" alt="Star"></h1>
            </div>
        </div>
    </section>


    <!-- Blog Items -->
    <section class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-items">
                        {% for post in posts %}
                            <div class="blog-item" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="{{ post.main_pic.url }}" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">{{ post.publish_date|date:"D M Y" }}</span>
                                    <h1><a href="{% url 'blog:viewpost' id=post.id %}">{{ post.title }}</a></h1>
                                    <p>{{ post.content|truncatechars:150 }}</p>
                                    <a href="{% url 'blog:viewpost' id=post.id %}" class="theme-btn">بیشتر بخوانید</a>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar">
                        <div class="blog-sidebar-inner">

                            <div class="blog-sidebar-widget search-widget">
                                <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                                    <form class="shadow-box">
                                        <input type="text" placeholder="اینجا جستجو کنید...">
                                        <button class="theme-btn">جستجو</button>
                                    </form>
                                </div>
                            </div>


                            {% latestPosts %}


                            {% sidebarCategories %}
                            <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
                                <div class="blog-sidebar-widget-inner shadow-box">
                                    <h3>تگ ها</h3>

                                    <ul>
                                        <li><a class="theme-btn" href="#">سس</a></li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






{% endblock %}