
{% load static %}
<div class="blog-sidebar-widget search-widget">
                                <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                                    <form class="shadow-box" action="{% url 'blog:search' %}" method="GET">
                                        <input type="text" name="s" placeholder="اینجا جستجو کنید...">
                                        <button class="theme-btn">جستجو</button>
                                    </form>
                                </div>
</div>