{% extends 'base.html' %}
{% load static %}

{% block body %}
        <!-- Contact -->
        <section class="contact-area">
            <div class="container">
                <div class="gx-row d-flex justify-content-between gap-24">
                    <div class="contact-infos">
                        <h3 data-aos="fade-up">ارتباط مستقیم با من</h3>
                        <ul class="contact-details">
                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-mail"></i>
                                </div>
                                <div class="right">
                                    <span>ایمیل</span>
                                    <h4>ashkanemami2005@gmail.com</h4>
                                    <h4>ashem1100@proton.me</h4>
                                    <h4>me@ashem.ir</h4>
                                    <h4>ashem@tutamail.com</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-telegram"></i>
                                </div>
                                <div class="right">
                                    <span>ارسال پیام در تلگرام</span>
                                    <a href="https://t.me/ashem1100"><h4 class="ltr">@ashem1100</h4></a>


                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-map-pin"></i>
                                </div>
                                <div class="right">
                                    <span>لوکیشن</span>
                                    <h4>عدم امکان ثبات در یک نقطه خاص</h4>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div data-aos="zoom-in" class="contact-form">
                        <div class="shadow-box">
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <img id="rtlsm" src="{% static 'images/icon3.png' %}" alt="Icon">
                            <h1>شبکه های<span>اجتماعی</span></h1>
                            <div data-aos="zoom-in">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons flex-wrap">
                                        <a href="https://github.com/ashem1100">
                                            <i class="iconoir-github"></i>
                                        </a>
                                        <a href="https://t.me/ashem1100">
                                            <i class="iconoir-telegram"></i>
                                        </a>
                                        <a href="https://x.com/ashem1100">
                                            <i class="iconoir-x"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/ashem1100/">
                                            <i class="iconoir-linkedin"></i>
                                        </a>
                                        <a href="https://www.youtube.com/@GorillaCodeorg">
                                            <i class="iconoir-youtube"></i>
                                        </a>
                                        <a href="https://medium.com/@ashem">
                                            <i class="iconoir-medium"></i>
                                        </a>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

{% endblock %}