<!DOCTYPE html>
<html lang="fa_IR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashkan Emami</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="assets/css/aos.css">

    <link rel="stylesheet" href="assets/css/style.rtl.css">
</head>
<body>

    <main class="main-aboutpage">

        <!-- Header -->
        <header class="header-area">
            <div class="container">
                <div class="gx-row d-flex align-items-center justify-content-between">
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.svg" alt="Logo">
                    </a>

                    <nav class="navbar">
                        <ul class="menu">
                            <li><a href="index.html">خانه</a></li>
                            <li><a href="about.html">درباره من</a></li>
                            <li><a href="credentials.html">رزومه من</a></li>
                            <li><a href="works.html">کارهای من</a></li>
                        </ul>
                        <a href="contact.html" class="theme-btn">راه های ارتباطی</a>
                    </nav>

                    <a href="contact.html" class="theme-btn">راه های ارتباطی</a>

                    <div class="show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>


        <!-- Contact -->
        <section class="contact-area">
            <div class="container">
                <div class="gx-row d-flex justify-content-between gap-24">
                    <div class="contact-infos">
                        <h3 data-aos="fade-up">ارتباط مستقیم با من</h3>
                        <ul class="contact-details">
                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-mail"></i>
                                </div>
                                <div class="right">
                                    <span>ایمیل</span>
                                    <h4>ashkanemami2005@gmail.com</h4>
                                    <h4>ashem1100@proton.me</h4>
                                    <h4>me@ashem.ir</h4>
                                    <h4>ashem@tutamail.com</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-telegram"></i>
                                </div>
                                <div class="right">
                                    <span>ارسال پیام در تلگرام</span>
                                    <a href="https://t.me/ashem1100"><h4 class="ltr">@ashem1100</h4></a>


                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-map-pin"></i>
                                </div>
                                <div class="right">
                                    <span>لوکیشن</span>
                                    <h4>عدم امکان ثبات در یک نقطه خاص</h4>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div data-aos="zoom-in" class="contact-form">
                        <div class="shadow-box">
                            <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                            <img id="rtlsm" src="assets/images/icon3.png" alt="Icon">
                            <h1>شبکه های<span>اجتماعی</span></h1>
                            <div data-aos="zoom-in">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons flex-wrap">
                                        <a href="https://github.com/ashem1100">
                                            <i class="iconoir-github"></i>
                                        </a>
                                        <a href="https://t.me/ashem1100">
                                            <i class="iconoir-telegram"></i>
                                        </a>
                                        <a href="https://x.com/ashem1100">
                                            <i class="iconoir-x"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/ashem1100/">
                                            <i class="iconoir-linkedin"></i>
                                        </a>
                                        <a href="https://www.youtube.com/@GorillaCodeorg">
                                            <i class="iconoir-youtube"></i>
                                        </a>
                                        <a href="https://medium.com/@ashem">
                                            <i class="iconoir-medium"></i>
                                        </a>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.svg" alt="Logo">
                    </a>
                    <ul class="footer-menu">
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="about.html">درباره من</a></li>
                        <li><a href="credentials.html">رزومه من</a></li>
                        <li><a href="works.html">کارهای من</a></li>
                        <li><a href="contact.html">ارتباط با من</a></li>

                    </ul>
                    <p class="copyright">
                        کی به کیه؟ منم الکی اینجا نوشتم که حقوق سایت متعلق به منه.
                    </p>
                </div>
            </div>
        </footer>

    </main>
    

    <script src="assets/js/jquery-3.6.4.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/mailer.js"></script>
</body>
</html>