<!DOCTYPE html>
<html lang="fa_IR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashkan Emami</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

    <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="assets/css/aos.css">

    <link rel="stylesheet" href="assets/css/style.rtl.css">
</head>
<body>

    <main class="main-aboutpage">

        <!-- Header -->
        <header class="header-area">
            <div class="container">
                <div class="gx-row d-flex align-items-center justify-content-between">
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.svg" alt="Logo">
                    </a>

                    <nav class="navbar">
                        <ul class="menu">
                            <li><a href="index.html">خانه</a></li>
                            <li><a href="about.html">درباره من</a></li>
                            <li class="active"><a href="credentials.html">رزومه من</a></li>
                            <li><a href="works.html">کارهای من</a></li>
                        </ul>
                        <a href="contact.html" class="theme-btn">راه های ارتباطی</a>
                    </nav>

                    <a href="contact.html" class="theme-btn">راه های ارتباطی</a>

                    <div class="show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>

        <!-- Credentials -->
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">
                    <div class="credential-sidebar-wrap" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">
                                <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                                <div class="img-box">
                                    <img src="assets/images/me.png" alt="درمورد من">
                                </div>
                                <h2>اشکان امامی</h2>
                                <p>@ashem1100</p>
        
                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="https://www.linkedin.com/in/ashem1100"><i class="iconoir-linkedin"></i></a></li>
                                    <li><a href="https://github.com/ashem1100"><i class="iconoir-github"></i></a></li>
                                    <li><a href="https://t.me/ashem1100"><i class="iconoir-telegram"></i></a></li>
                                </ul>
        
                                <a href="#dl" class="theme-btn">دانلود رزومه من</a>
                            </div>
                        </div>
                    </div>

                    <div class="credential-content flex-1">
                        <div class="credential-about" data-aos="zoom-in">
                            <h2>درمورد من</h2>
                            <p>مهندس نرم‌افزار با تخصص در توسعه وب فول‌استک با Django، بینایی ماشین و توسعه نرم‌افزارهای کمک‌راننده خودرویی (ADAS). تمرکز بر طراحی سیستم‌های مقیاس‌پذیر و پیاده‌سازی راهکارهای مبتنی بر یادگیری ماشین. </p>
                        </div>

                        <div class="credential-edc-exp credential-experience">
                            <h2 data-aos="fade-up">تجربیات کاری</h2>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>1404 - تاکنون</h4>
                                <h3>مهندس نرم‌افزار سیستم‌های خودرویی هوشمند (ADAS)</h3>
                                <h5>مرکز توسعه و تحقیقات نرم‌افزار های خودرویی متا</h5>
                                <p>توسعه نرم‌افزار های کمک راننده خودرو و سیستم های هوشمند خودران</p>
                            </div>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>1403 - 1404</h4>
                                <h3>توسعه دهنده Django (Junior)</h3>
                                <h5>اسنپ فود!</h5>
                                <p>توسعه وب اپلیکیشن بر پایه جنگو</p>
                            </div>
                        </div>

                        <div class="credential-edc-exp credential-education">
                            <h2 data-aos="fade-up">تحصیلات آکادمیک</h2>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>1402 - تاکنون</h4>
                                <h3>کارشناسی مهندسی کامپیوتر</h3>
                                <h5>دانشگاه آزاد اسلامی واحد تهران مرکزی</h5>
                            </div>
                        </div>

                        <div class="skills-wrap">
                            <h2 data-aos="fade-up">مهارت ها</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">Python</h3>
                                    <p>Numpy ,Pandas,...</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">Django</h3>
                                    <p>توسعه وب</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">Classical ML</h3>
                                    <p>یادگیری ماشین</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">Pytorch, TensorFlow</h3>
                                    <p>فریمورک</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">Classical CV</h3>
                                    <p>بینایی ماشین</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">JavaScript(Front-end)</h3>
                                    <p>طراحی وب</p>
                                </div>

                            </div>
                        </div>

                        <div class="skills-wrap awards-wrap">
                            <h2 data-aos="fade-up">مدارک</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">1 آذر 1404</span>
                                    <h3 class="name">Machine Learning for Computer Vision</h3>
                                    <p>دانشگاه صنعتی شریف</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">21 آبان 1402</span>
                                    <h3 class="name">Django Web Development</h3>
                                    <p>دانشگاه تهران</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


        <!-- Footer -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.svg" alt="Logo">
                    </a>
                    <ul class="footer-menu">
                        <li><a href="index.html">خانه</a></li>
                        <li><a href="about.html">درباره من</a></li>
                        <li><a href="credentials.html">رزومه من</a></li>
                        <li><a href="works.html">کارهای من</a></li>
                        <li><a href="contact.html">ارتباط با من</a></li>

                    </ul>
                    <p class="copyright">
                        کی به کیه؟ منم الکی اینجا نوشتم که حقوق سایت متعلق به منه.
                    </p>
                </div>
            </div>
        </footer>

    </main>
    

    <script src="assets/js/jquery-3.6.4.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>