{% extends 'base.html' %}
{% load static %}

{% block body %}
        <!-- Credentials -->
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">
                    <div class="credential-sidebar-wrap" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">
                                <img src="{%  static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="img-box">
                                    <img src="{{ info.0.profile.url }}" alt="درمورد من">
                                </div>

                                <h2>{{ info.0.name }}</h2>
                                <p>{{ info.0.email }}</p>
        
                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="https://www.linkedin.com/in/ashem1100"><i class="iconoir-linkedin"></i></a></li>
                                    <li><a href="https://github.com/ashem1100"><i class="iconoir-github"></i></a></li>
                                    <li><a href="https://t.me/ashem1100"><i class="iconoir-telegram"></i></a></li>
                                </ul>
        
                                <a href="#dl" class="theme-btn">دانلود رزومه من</a>
                            </div>
                        </div>
                    </div>

                    <div class="credential-content flex-1">
                        <div class="credential-about" data-aos="zoom-in">
                            <h2>درمورد من</h2>
                            <p>{{ info.0.about }}</p>
                        </div>

                        <div class="credential-edc-exp credential-experience">
                            <h2 data-aos="fade-up">تجربیات کاری</h2>
                            {% for job in jobs%}
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>{{job.time_start}} - {{job.time_end}}</h4>
                                <h3>{{ job.title }}</h3>
                                <h5>{{ job.company }}</h5>
                                <p>{{ job.about }}</p>
                            </div>
                            {% endfor %}

                        </div>



                        <div class="credential-edc-exp credential-education">
                            <h2 data-aos="fade-up">تحصیلات آکادمیک</h2>

                            {% for education in educations %}
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>{{education.time_start}} - {{education.time_end}}</h4>
                                <h3>{{education.title}}</h3>
                                <h5>{{education.academy}}</h5>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="skills-wrap">
                            <h2 data-aos="fade-up">مهارت ها</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                {% for skill in skills %}
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">مسلط به</span>
                                    <h3 class="name">{{ skill.title }}</h3>
                                    <p>{{ skill.description }}</p>
                                </div>

                                {% endfor %}


                            </div>
                        </div>

                        <div class="skills-wrap awards-wrap">
                            <h2 data-aos="fade-up">مدارک</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                {% for certificate in certificates %}
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">{{ certificate.date }}</span>
                                    <h3 class="name">{{ certificate.title }}</h3>
                                    <p>{{ certificate.certificator }}</p>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

{% endblock %}