{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!-- About -->
        <section class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" data-aos="zoom-in">
                        <div class="about-me-box shadow-box">
                            <a class="overlay-link" href="about.html"></a>
                            <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                            <div class="img-box">
                                <img src="{% static 'images/me.png' %}" alt="About Me">
                            </div>
                            <div class="infos">
                                <h4 style="padding-bottom: 15px">یک مهندس نرم‌افزار</h4>
                                <h1>اشکان امامی</h1>
                                <p>علاقه‌مند به برنامه‌نویسی، ورزش، ریاضیات، کتاب، ...</p>
                                <a href="index.html#" class="about-btn">
                                    <img id="rdt" src="{% static 'images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="about-credentials-wrap">
                            <div data-aos="zoom-in">
                                <div class="banner shadow-box">
                                    <div class="marquee">
                                        <div>
                                            <span>
                                                <img src="{% static 'images/star1.svg' %}" alt="Star">
                                                در شرایط فیلترنت ملی! ایمیل من: me@ashem.ir
                                                <img src="{% static 'images/star1.svg' %}" alt="Star">

                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="gx-row d-flex gap-24">
                                <div data-aos="zoom-in">
                                    <div class="about-crenditials-box info-box shadow-box h-full">
                                        <a class="overlay-link" href="{% url 'main:credentials' %}"></a>
                                        <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                        <img src="{% static 'images/sign.png' %}" alt="Sign">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>دانلود</h4>
                                                <h1>رزومه من</h1>
                                            </div>

                                            <a href="credentials.html" class="about-btn">
                                                <img id="rdt" src="{% static 'images/icon.svg' %}" alt="Button">
                                            </a>

                                        </div>
                                    </div>
                                </div>

                                <div data-aos="zoom-in">
                                    <div class="about-project-box info-box shadow-box h-full">
                                        <a class="overlay-link" href="{% url 'works:worksindex' %}"></a>
                                        <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                        <img src="{% static 'images/my-work.png' %}" alt="کارهای من">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>مشاهده</h4>
                                                <h1>کارهای من</h1>
                                            </div>

                                            <a href="index.html#" class="about-btn">
                                                <img id="rdt" src="{% static 'images/icon.svg' %}" alt="Button">
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-24">
                    <div class="col-md-12">
                        <div class="blog-service-profile-wrap d-flex gap-24">

                            <div data-aos="zoom-in">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons shadow-box">
                                        <a href="https://x.com/ashem1100">
                                            <i class="iconoir-x"></i>
                                        </a>/
                                        <a href="https://virgool.io/@ashem">
                                            <img style="width: 48px" src="{% static 'images/virgool.svg' %}">
                                        </a>

                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>خواندن</h4>
                                            <h1>ایده های من</h1>
                                        </div>

                                        <a href="about.html" class="about-btn">
                                            <img id="rdt" src="{% static 'images/icon.svg' %}" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>


                            <div data-aos="zoom-in" class="flex-1">
                                <div class="about-services-box info-box shadow-box h-full">
                                    <a href="#" class="overlay-link"></a>
                                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                    <div class="about-client-box info-box">
                                        <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                        <div class="clients d-flex align-items-start gap-24 justify-content-center">
                                            <div class="client-item">
                                                <h1>9635</h1>
                                                <p>صفحه <br>کتاب خوندم</p>
                                            </div>

                                            <div class="client-item">
                                                <h1>176</h1>
                                                <p>کیلومتر <br>شنا کردم</p>
                                            </div>

                                            <div class="client-item">
                                                <h1>4850</h1>
                                                <p>متر، بیشترین <br>ارتفاع صعود</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div data-aos="zoom-in">
                                <div class="about-blog-box info-box shadow-box h-full">
                                    <a href="https://www.youtube.com/@GorillaCodeorg" class="overlay-link"></a>
                                    <img src="{% static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                    <img  src="{% static 'images/gorilla.svg' %}" alt="gorilla">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>یوتیوب</h4>
                                            <h1>گوریل کد</h1>
                                        </div>

                                        <a href="https://www.youtube.com/@GorillaCodeorg" class="about-btn">
                                            <img id="rdt" src="{% static 'images/icon.svg' %}" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

               <!-- <div class="row mt-24">
                    <div class="col-md-6" data-aos="zoom-in">

                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="contact.html"></a>
                            <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                            <img src="assets/images/icon2.png" alt="Icon" class="star-icon">
                            <h1>بیایید <br>با هم <span>کار کنیم.</span></h1>
                            <a href="index.html#" class="about-btn">
                                <img id="rdt" src="assets/images/icon.svg" alt="Button">
                            </a>
                        </div>

                    </div>
                    <div class="col-md-6" data-aos="zoom-in">

                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="contact.html"></a>
                            <img src="assets/images/bg1.png" alt="BG" class="bg-img">
                            <img src="assets/images/icon2.png" alt="Icon" class="star-icon">
                            <h1>بیایید <br>با هم <span>کار کنیم.</span></h1>
                            <a href="index.html#" class="about-btn">
                                <img id="rdt" src="assets/images/icon.svg" alt="Button">
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </section> -->

{% endblock %}