{% extends 'base.html' %}
{% load static %}

{% block body %}
        <!-- Projects -->
        <section class="projects-area">
            <div class="container">
                <h1 class="section-heading" data-aos="fade-up"><img src="{%  static 'images/star-2.png' %}" alt="Star">کارهای من<img src="{%  static 'images/star-2.png' %}" alt="Star"></h1>
                <div class="row">
                    <div class="col-md-4">
                        <div data-aos="zoom-in">
                            <div class="project-item shadow-box">
                                <a class="overlay-link" href="#"></a>
                                <img src="{%  static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="project-img">
                                    <img src="{%  static 'images/64dca217-5d02-47e2-aece-542554278881.png' %}" alt="Project">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="project-info">
                                        <p>در حال ساخت</p>
                                        <h1>مارگاریتا</h1>
                                    </div>
                                    <a href="#" class="project-btn">
                                        <img id="rdt"  src="{%  static 'images/icon.svg' %}" alt="Button">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div data-aos="zoom-in">
                            <div class="project-item shadow-box">
                                <a class="overlay-link" href=""></a>
                                <img src="{%  static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="project-img">
                                    <img src="{%  static 'images/کریستا 444.png' %}" alt="Project">
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="project-info">
                                        <p>ساخته شده</p>
                                        <h1>کریستال 444</h1>
                                    </div>
                                    <a href="" class="project-btn">
                                        <img id="rdt" src="{%  static 'images/icon.svg' %}" alt="Button">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <h1 class="section-heading" data-aos="fade-up"><img src="{%  static 'images/star-2.png' %}" alt="Star">کارهای من<img src="{%  static 'images/star-2.png' %}" alt="Star"></h1>
                        
                        <div class="d-flex align-items-start gap-24">
                            <div data-aos="zoom-in" class="flex-1">
                                <div class="project-item shadow-box">
                                    <a class="overlay-link" href="#"></a>
                                    <img src="{%  static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                    <div class="project-img">
                                        <img src="{%  static 'images/1000003304_6ff66249d20eae1a157cbe586669b23b-11_10_2024, 12_32_26 AM.jpg' %}" alt="Project">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="project-info">
                                            <p>در حال توسعه</p>
                                            <h1>گوریل کد</h1>
                                        </div>
                                        <a href="#" class="project-btn">
                                            <img id="rdt"  src="{%  static 'images/icon.svg' %}" alt="Button">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div data-aos="zoom-in" class="flex-1">
                                <div class="project-item shadow-box">
                                    <a class="overlay-link" href=""></a>
                                    <img src="{%  static 'images/bg1.png' %}" alt="BG" class="bg-img">
                                    <div class="project-img">
                                        <img src="{%  static 'images/photo_2024-12-30_17-23-31.jpg' %}" alt="Project">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="project-info">
                                            <p>انتشار آزمایشی</p>
                                            <h1>کوپایلت برنامه نویسی Pond</h1>
                                        </div>
                                        <a href="" class="project-btn">
                                            <img id="rdt" src="{%  static 'images/icon.svg' %}" alt="Button">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-start gap-24">
                            <div data-aos="zoom-in" class="flex-1">

                            </div>

                            <div data-aos="zoom-in" class="flex-1">


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        


{% endblock %}